{% from "golang/defaults.yaml" import rawmap with context %}

{% set config = {} %}
# Grains should override PIllars which in turn override `rawmap`
{% with lookup = salt['pillar.get']('golang:lookup', {}) %}
   # overlay the lookup map from the grains onto the pillar version
   {% do lookup.update(salt['grains.get']('golang:lookup', {})) %}
   # Now that we have the desired context we can now run `filter_by`
   {% do config.update(salt['grains.filter_by'](rawmap, grain='os', merge=lookup)) %}
{% endwith %}

{% do config.update({
  'archive_name': 'go%s.linux-amd64.tar.gz'|format(config.version),
  'base_dir': '%s/golang/%s'|format(config.prefix, config.version)
}) %}
